<center><h1> Python Basics</h1></center>

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


## Variable declaration

### **`GO THROUGH THIS LINK`** : https://www.w3schools.com/python/python_variables.asp

Covers the topic of variable declaration and type of variables

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [1]:
# declare two variables, a = 5, b = 'city'
a = 5
b = "city"

In [2]:
# print type of a
print(type(a))

<class 'int'>

In [3]:
# print type of b
print(type(b))

<class 'str'>

In [4]:
# swap the values of a and b
# hint, if a = 3 and b = "cloudyML" then u can swap values like this
"""
a = 3
b = "cloudyML"
temp = a # defined a temporary variable and store value of a in temp
a = b # swap
b = temp # give value of a stored in temp to b
"""
a=5
b= "city"
temp =a
a=b
b=temp

In [5]:
# run this to confirm 
print(a)
print(b)

city
5

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

### **`GO THROUGH THIS LINK`** : https://www.geeksforgeeks.org/python-arithmetic-operators/

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.


<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [6]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [7]:
print(a+b)

27

In [8]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
# You can use string formatting to get the exact output like ours.
# hint: print("a + b = {}".format(a+b))
a = 24
b= 3
print("a + b = {}".format(a+b))
print("a - b = {}".format(a-b))
print("a * b = {}".format(a*b))
print("a / b = {}".format(a/b))
print("a % b = {}".format(a%b))
print("a // b = {}".format(a//b))
print("a ^ b = {}".format(a^b))

a + b = 27
a - b = 21
a * b = 72
a / b = 8.0
a % b = 0
a // b = 8
a ^ b = 27

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Additional Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [9]:
import math

In [10]:
# declare a variable x = 2 and y=5.32167
x=2
y=5.32167

In [11]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [12]:
# Print the minimum value between x and y
print(min(x,y))

2

In [13]:
# Print square and cube of x and store in a and b variable
a=x**2
print(a)

b=math.pow(x,3)
print(b)

4
8.0

In [14]:
#print log of x and store it in variable c
c=math.log(x)
c

0.6931471805599453

In [15]:
#print minimum value between x,y,a, b and c
print(min(x,y,a,b,c))

0.6931471805599453

In [16]:
#print maximum value between x,y,a, b and c
print(max(x,y,a,b,c))

8.0

In [17]:
#print the largest integer that is smaller than or equal to c. ie.round down
print(math.floor(c))

0

In [18]:
#print the smallest integer that is greater than or equal to c ie. round up
print(math.ceil(c))

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

### **`GO THROUGH THIS LINK`** : https://www.programiz.com/python-programming/operators

In [19]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [20]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [21]:
# print int(a) and int(b)
print(int(a))
print(int(b))

1
0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [22]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
# Use not operator for not a and not b

print(not a)
print(not b)
print(a and b)
print(a or b)
print(a and not b)

False
True
False
True
True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

### **`GO THROUGH THIS LINK`** : https://www.geeksforgeeks.org/python-list-comprehension/

In [23]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.

list1 = [i for i in range(1,21)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

list2 = [i for i in range(1,21) if i%2==0]
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [25]:
fruits = ['mango', 'apple', 'banana', 'vimal', 'orange']
len_fruits = [len(i) for i in fruits]

print(fruits)
print(len_fruits)

['mango', 'apple', 'banana', 'vimal', 'orange']
[5, 5, 6, 5, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

### **`MUST GO THROUGH THIS LINK`**: https://www.geeksforgeeks.org/python-strings/

In [26]:
# declare the variables x = cat and y = dog and print it
x =  "cat"
y = "dog"

print(x)
print(y)

cat
dog

In [27]:
#Print first character of both x and y. 

print(x[0])
print(y[0])

c
d

In [28]:
#Print last character of both x and y.
print(x[-1])
print(y[-1])

t
g

In [29]:
#Print len of both x and y
print(len(x))
print(len(y))

3
3

In [30]:
#concatenate both x and y and store it in variable z and print z
z = x+y
z

'catdog'

In [31]:
#check if x is part of z 
x in z

True

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [32]:
#Create variable a = “pineapple”
a = "pineapple"
print(a)

pineapple

In [33]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[0:4])
print(a[4:9])

pine
apple

In [34]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [35]:
# Declare a sentence of ‘I am flying to London’ and print it

x ="I am flying to London"
x

'I am flying to London'

In [36]:
#Print length of the sentence
print("Len of a sentance is " , len(x))

Len of a sentance is  21

In [37]:
#Using list indexing, to print the word London
x[15:22]

'London'

In [38]:
# Use .split to get list of individual words in the sentence
x.split()

['I', 'am', 'flying', 'to', 'London']

In [39]:
# Convert sentence in lower case 
x.lower()

'i am flying to london'

In [40]:
# Convert sentence in upper case .
x.upper()

'I AM FLYING TO LONDON'

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

### **`MUST GO THROUGH THIS LINK`**: https://www.geeksforgeeks.org/python-functions/

Call the function to find the value of square of 9.

In [41]:
# find the square of 9 using the function square you have just created.
def square(x):
    print("Square of ", x ,"is",x*x )
    
square(9)

    # find the square of 9 using the function square you have just created.

Square of  9 is 81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [42]:
def find_EvenOdd(num):
    if(num%2==0):
        print(num,"is even")
    else:
        print(num,"is odd")
find_EvenOdd(11)

11 is odd

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [43]:
def checkSquare_EvenOdd(x):
    if(x*x%2==0):
        print(x,"is even")
    else:
        print(x,"is odd")
        
checkSquare_EvenOdd(9)
checkSquare_EvenOdd(36)
checkSquare_EvenOdd(441)

9 is odd
36 is even
441 is odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [44]:
#Declare a variable x equal to a number of your choice.
#your code here
x = 3
print(x)

3

In [45]:
#Using an if statement, print whether x is zero, positive or negative.

x= int(input("Enter a number: "))
if x==0:
    print(x, "is zero")
if x> 0:
    print(x, "is positive")
else:
    print(x, "is negative")

24 is positive

In [46]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
def check_num(a):
    if a==0:
        print(a, "is zero")
    if a> 0:
        print(a, "is positive")
    if a<0:
        print(a, "is negative")
    
a = int(input("Enter a number: "))


check_num(10)
check_num(-2)
check_num(0)

10 is positive
-2 is negative
0 is zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [47]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x = ["India", "Israel","Canada"]
x

['India', 'Israel', 'Canada']

In [48]:
#Using For loop, iterate over the list and print the elements.
for i in x:
        print (i)

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [49]:
# Using For loop, print the table of 2.
num = 2

for i in range(1,11):
    print(num ,"*", i,"=", num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [50]:
#code here
# hint: use if type(i) == int: condition to print variable which are of int type

x = [21, 'hello','cream', 20,19,'village']

for i in x:
    if type(i)==int:
        print(i)

21
20
19

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [51]:
# print the following pattern
n = 5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [2]:
def print_values(n):
    i = 1
    while i <= n:
        print(i)
        i += 1
print_values(10)

1
2
3
4
5
6
7
8
9
10

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [ ]:
# your code here

flag = True
num = 5
while flag:
    print(num)
    num += 5
    if num>50:
        flag = False

5
10
15
20
25
30
35
40
45
50

Awsesome! Great job so far. Hope you fell in love with python now.